/* Write your CSS here */
.TeamCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #475569;
  opacity: 0.8;
  padding: 10px;
  border-radius: 13px;
  height: 120px;
  width: 40%;
  margin: 10px;
  color: white;
  font-family: Bree Serif;
  background-color: #ffffff33;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-img {
  width: 30%;
}
.team-name {
  font-size: 24px;
  margin-left: 10px;
  opacity: 1;
  color: #ffffff;
  text-align: center;
}
.team-name {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .TeamCard {
    width: 40%;
  }
  .team-img {
    width: 85px;
    height: 85px;
  }
  .team-name {
    font-size: 20px;
  }
}
.nav-link {
  text-decoration: none;
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.sh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
